{%extends 'index.html'%}
{% block titulo %}Formulario de Contacto{% endblock titulo %}
{%block cuerpo%}
<form method="post">
	{%csrf_token%}
	{{form.as_p}}
	<button type="submit">Crear o editar</button>
</form>
{%endblock cuerpo%}