<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{%block titulo%}Listado de Contacto{%endblock titulo%}</title>
</head>
<body>
	{%block cuerpo%}
	<h1>Template de listado</h1>
	<table border="2">
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Apellido</th>
				<th>Correo</th>
				<th>Opcion</th>
			</tr>
		</thead>
		<tbody>  
			<tr> 
				{%for persona in object_list%}
				<tr>
					<td>{{persona.nombre}}</td>
					<td>{{persona.apellido}}</td>
					<td>{{persona.correo}}</td>
					<td><a href="{%url 'editar_persona' persona.id%}">EDITAR</a></td>
					<td><a href="{%url 'eliminar_persona' persona.id%}">ELIMINAR</a></td>
					<td></td>
				</tr>
				{%endfor%}
			</tr>
		</tbody>
	</table>
	{%endblock cuerpo%}
</body>
</html>